@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');


/**********CONFIGURACION GENERAL DE LA PAGINA************/
* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

body {
    background: #DCDCD5;
}
ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

h1 {
    margin: 0;
}
.logo img {
    width: 200px;
    padding: 10px;
}
/****************DISEÑO************************/
.container > * {
    width: 100%;
    /*border: 1px solid rgba(0, 0, 0, 0.822); */
}
.container .header {
    position: fixed;
    top: 0;
    background:  #DCDCD5;
    width: 100%;
    height: 90px;
    display: grid;
    grid-template-columns: 1fr 3fr;
    z-index: 1000;
    box-shadow: 0px 0px 18px rgba(0, 0, 0, 0.8);
}
.nav_label, input{
    display: none;
}

.header .logo {
    display: grid;
    grid-column: 1 / 2;
    width: 250px;
    height: 80px;
    /*background: blue;*/
}
.iconos {
    width: 24px;
    line-height: 55px;
    padding-right: 15px;
    color: rgb(127, 129, 127);
}
    .subicono {
        position: absolute;
        right: 15px;
        text-align: right;
        
    }
    .desplegar {
        width: 18px;
        padding-left: 35px;
        padding-top: 10px;
        
    }
.header .navbar {
    grid-column: 2 /3;
    align-items:center;
    background: #918d8d7a;
    margin-top: 20px;
    height: 50px;
    border-radius: 4px;
    width: 95% ;
    margin-left: 2.5%;
    text-decoration: none;
    
}
    .navbar .men-hor {
        grid-column: 2 /3;
        display: grid;
        grid-template-columns: repeat(5, 185px);
        justify-content: space-around;
        text-align: center;
        width: 90%;
        margin-left: 5%;
    }
    .navbar .men-hor >li > a {
        display: block;
        width: 100%;
        text-decoration: none;
        color: #000000;
        line-height: 55px;
        font-weight: 500;
        font-size: 16px;
    }
    .navbar .men-hor >li:hover {
        background-color: #1df1f8;
        height: 50px;
        border-radius: 4px;
        width: 100%;
    }
    /*****M E N U    V E R T I C A L*****/
    .navbar .men-vert {
        position: absolute;
        display: none;
        list-style: none;
        width: 225px;
        background: rgba(0, 0, 0, 0.85);
        font-size: 14px;
        padding-top: 10px;
        padding-bottom: 5px;
        color: #ededed;
        margin-top: -5px;
        border-radius: 4px;
        
        transition: all 0.25s;
        
    }
    .navbar .men-hor li:hover .men-vert {
        padding-top: 5px;
        display: block;
        box-shadow: 4px 3px 5px 2px rgba(0, 0, 0, 0.4);
    }
    .navbar .men-vert li:hover {
        background: #1df1f8;
        width: 235px;
        margin-left: -5px;
    }
    .navbar .men-vert li a {
        display: block;
        color: #EDEDED;
        padding: 15px 15px 15px 20px;
        text-align: left;
        font-size: 14;
        font-weight: 400;
        text-decoration: none;
    }
    .navbar .men-vert li a:hover {
        color: #000000;
        margin-left: 10px;
        font-weight: 400;
    }

    .container .slider {
        /*background: #88f0cd;*/
        color: rgb(78, 78, 78);
        margin-top: 120px;
        font-size: 4vw;
        font-weight: 600;
        font-family: 'PT Sans', sans-serif;
        height: 80px;
        text-align: center;
        line-height: 80px;
        width: 100%;
        
    }
    .section {
        
        display: table;
        margin-top: 20px;
    }
        .container .otros {
            display: grid;
            grid-column: 1 / 4;
            width: 100%;
            height: 100%;
            align-items: center;
            justify-items: center;
            grid-template-columns: repeat(5, auto);
            margin-top: 15px;
            /*background: red;*/
        }
            .container .otros p {
                display: block;
                width: 90%;
                height: 105%;
                /*box-shadow: 2px 2px 5px black;*/
                text-align: center;
                /*line-height: 28vw;*/
                background-color: #272525;
                border-radius: 6px;
                transition: all 0.25s;
                
            }   
            .otros p:hover {
                transform: translateY(-10px);
                box-shadow: 0px 12px 16px rgba(0, 0, 0, 0.8);
            }
            .otros img {
                margin-top: 10px;
                width: 15vw;
                box-shadow: 5px 8px 6px rgba(0, 0, 0, 0.5);
            }    
            .pieimg {
                display: table;
                color: #ededed;
                margin-left: 8px;
                margin-top: 5px;
                font-size: 1.8vw;
                font-weight: 500;
                margin-bottom: 5px;
            } 
            .subt {
                display: table;
                color: #f5c802;
                font-size: 1vw;
                font-weight: 300;
                margin-left: 8px;
            }
            .text {
                position: relative;
                width: 90%;
                margin:0 auto;
                /*background: #1df1f8;*/
                text-align: center;
                font-size: 1.5vw;
            }
                .text p {
                    font-size: 2vw;
                    text-align: center;
                }
            .categoria {
                position: absolute;
                display: grid;
                width: 90%;
                grid-template-columns: repeat(4, auto);
                align-items: center;
                justify-items: center ;
                margin-top: 130px;
                margin-left: auto;
                gap: 0px;
                margin-bottom: 100px;
                /*background: #000000;*/
                
            }   
                .categoria img {
                    width: 15vw;
                }

.titweb {
    width: 90%;
    margin:0 auto;
    font-size: 40px;
    padding-top: 80px;
}        
.website {
    width: 90%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 20px 5%;
    align-items: center;
    /*border: solid 2px black;*/
}
            .website p img{
                width: 40vw;
                
                background: #DCDCD5 ;
                border-radius: 6px;
                transition: all 0.25s;
                /*box-shadow: 0px 12px 16px rgba(0, 0, 0, 0.8);*/
            }
            .website #img2 {
                margin-left: 50px;
            }
            .website p img:hover {
                transform: translateY(-10px);
                box-shadow: 0px 12px 16px rgba(0, 0, 0, 0.8);

            }
            .titrese {
                display: table;
                font-size: 24px;
                font-weight: 600;
                color: #da8404;
                padding-bottom: 20px;
                text-align: left;
                
            }
            .enunciado  {
                font-size: 13px;
                text-align: justify;
                margin-bottom: 70px;
                
            }

        .footer {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            grid-template-rows: 1fr 1fr;
            background: black;
            width: 100%;
            height: 100%;
            color: #ededed;
            padding-bottom: 10px;
        }
            .footer #titulo {
                grid-column: 1 / 3;
                grid-row: 1 / 2;
                color: red;
                width: calc(100% - 70px);
                margin-left: 70px;
                font-size: 16px;
                font-weight: 600;
                margin-top: 10px;
            }
                .footer #titulo #text-not{
                    grid-column: 1 / 5;
                    grid-row: 2 / 3;
                    padding-top: 3px;
                    color: #ededed;
                    font-size: 12px;
                    font-weight: 200;
                }
                .footer #input-suscrib {
                display: grid;
                grid-column: 3 / 4;
                grid-row: 1 / 2;
                width: 100%;
                align-items: center;
                justify-items: center;
            }
                .footer #input-suscrib input {
                    display: grid;
                    align-items: center;
                    justify-items: center;
                    width: 90%;
                    height: 22px;
                }
                .footer #btn-suscrib{
                display: grid;
                grid-column: 4 / 5;
                grid-row: 1 / 2;
                width: 100%;
                align-items: center;
                border-radius: none;
                color: white;
            }
                        .footer #btn-suscrib button {
                            height: 26px;
                            width: 80%;
                            margin: 0 auto;

                        }
                .footer #logo-footer {
                display: grid;
                grid-column: 1 / 2;
                grid-row: 2 / 3;
                color: #ededed;
                width: calc(100% - 70px);
                margin-left: 70px;
                font-size: 40px;
                font-weight: 600;
                margin-top: 25px;
            }
            .footer #logo-footer img{
                    padding: 0;
                    width: 18vw;
                }
                .footer #info-footer {
                grid-column: 2 / 3;
                grid-row: 2 / 3;
                color: #ededed;
                width: calc(100% - 70px);
                margin-left: 20px;
                margin-top: 15px;
            }
            .footer #otros-footer {
                grid-column: 3 / 4;
                grid-row: 2 / 3;
                color: #ededed;
                width: calc(100% - 70px);
                margin-left: 20px;
                margin-top: 15px;
            }
            .footer #contacto-footer {
                grid-column: 4 / 5;
                grid-row: 2 / 3;
                grid-template-rows: repeat(3, 20px);
                justify-content: left;
                align-items: calc(100% - 50px);
                margin-left: 20px;
                margin-top: 15px;
            }
            .footer #contacto-footer #dir-footer {
                    font-size: 12px;
                    grid-row: 1 / 2;
                    padding-top: 5px;
                }
                .footer #contacto-footer #tel-footer {
                    font-size: 12px;
                    grid-row: 2 / 3;
                    padding: 5px 0px;
                }
                .footer #contacto-footer #mail-footer {
                    font-size: 12px;
                    grid-row: 3 / 4;
                }    




@media (max-width:1200px){
    .nav_label {
        display: block;
        cursor: pointer;
        position: absolute;
        line-height: 120px;
        left: 10px;
    }
    .container .header {
        display: flex;
        width: 100%;
        
    }
    .container .header .logo img{
        display: block;
        position: absolute;
        padding: 10px;
        align-content: center;
        left: calc(50% - 100px);
    }
    .nav_label .nav_img {
        width: 48px;
    }
    .navbar .men-hor{
        position: fixed;
        top: 90px;
        bottom: 0;
        background: #afafaf;
        margin: 0 auto;
        display: flex;
        width: 60%;
        left: 0%;
        justify-content:flex-start;
        flex-direction: column;
        align-items: stretch;
        text-align: left;
        padding-left: calc(30% - 250px);
        padding-right: calc(30% - 250px);
        clip-path: circle(0 at left);
        transition:clip-path 0.5s ease-in-out;
    }
        .nav_input:checked + .navbar .men-hor{
            clip-path: circle(100% at center);
        }
    .header .navbar {
        background: none;
    
    }
    .container .navbar .men-hor >li > a {
        display: block;
        width: 100%;
        
        text-decoration: none;
        color: #000000;
        line-height: 55px;
        font-weight: 500;
        font-size: 22px;
    }




@media (max-width: 992px){
    .container .slider {
        /*background: #88f0cd;*/
        color: rgb(78, 78, 78);
        margin-top: 120px;
        font-size: 2.8vw;
        font-weight: 400;
        font-family: 'PT Sans', sans-serif;
        height: 80px;
        text-align: center;
        line-height: 80px;
        width: 100%;
        
    }
    .section {
        
        display: table;
        margin-top: 20px;
    }
        .container .otros {
            display: grid;
            grid-column: 1 / 4;
            width: 100%;
            height: 105%;
            align-items: center;
            justify-items: center;
            grid-template-columns: repeat(3, auto);
            margin-top: 15px;
            margin-bottom: 20px;
            /*background: red;*/
            gap: 10px;
        }
            .container .otros p {
                
                width: 80%;
                height: 100%;
                
                /*box-shadow: 2px 2px 5px black;*/

                background-color: #272525;
                border-radius: 6px;
                transition: all 0.25s;
                
            }   
            .otros p:hover {
                transform: translateY(-10px);
                box-shadow: 0px 12px 16px rgba(0, 0, 0, 0.8);
            }
            .otros img {
                margin-top: 10px;
                
                width: 25vw;
                box-shadow: 5px 8px 6px rgba(0, 0, 0, 0.5);
            }    
            .pieimg {
                display: block;
                color: #ededed;
                margin-top: 5px;
                font-size: 2vw;
                font-weight: 500;
                text-align: left;
            } 
            .subt {
                display: block;
                color: #f5c802;
                font-size: 1.5vw;
                font-weight: 300;
                text-align: left;
                margin-bottom: 5px;
            }
            .text {
                position: relative;
                width: 90%;
                margin:0 auto;
                /*background: #1df1f8;*/
                text-align: center;
                
            }
               
}




@media (max-width: 768px){
    

    .website {
        width: 90%;
        display: block;
        text-align: center;
        margin: 20px 5%;
        
        /*border: solid 2px black;*/
    }
    .website p img{
        
        width: 60vw;
        background: #DCDCD5 ;
        border-radius: 6px;
        transition: all 0.25s;
        /*box-shadow: 0px 12px 16px rgba(0, 0, 0, 0.8);*/
        text-align: center;
    }
    .titweb {
        width: 90%;
        margin:0 auto;
        font-size: 30px;
        padding-top: 50px;
    } 

    .titrese {
        display: block;
        font-size: 20px;
        font-weight: 600;
        color: #da8404;
        padding-bottom: 20px;
        text-align: center;
        
    }
    .enunciado  {
        font-size: 13px;
        text-align: justify;
        margin-bottom: 70px;
        
    }

    .footer #titulo {
        grid-column: 1 / 3;
        grid-row: 1 / 2;
        color: red;
        width: calc(100% - 70px);
        margin-left: 20px;
        font-size: 14px;
        font-weight: 600;
        margin-top: 10px;
    }
        .footer #titulo #text-not{
            grid-column: 1 / 5;
            grid-row: 2 / 3;
            padding-top: 3px;
            color: #ededed;
            font-size: 11px;
            font-weight: 200;
        }
        .footer #input-suscrib {
        display: grid;
        grid-column: 3 / 4;
        grid-row: 1 / 2;
        width: 100%;
        align-items: center;
        justify-items: center;
    }
        .footer #input-suscrib input {
            display: grid;
            align-items: center;
            justify-items: center;
            width: 90%;
            height: 22px;
        }
        .footer #btn-suscrib{
        display: grid;
        grid-column: 4 / 5;
        grid-row: 1 / 2;
        width: 100%;
        align-items: center;
        border-radius: none;
        color: white;
    }
                .footer #btn-suscrib button {
                    height: 26px;
                    width: 80%;
                    margin: 0 auto;

                }
        .footer #logo-footer {
        display: grid;
        grid-column: 1 / 2;
        grid-row: 2 / 3;
        color: #ededed;
        width: calc(100% - 70px);
        margin-left: 20px;
        font-size: 40px;
        font-weight: 600;
        margin-top: 25px;
    }
    .footer #logo-footer img{
            padding: 0;
            width: 24vw;
        }
        .footer #info-footer {
        grid-column: 2 / 3;
        grid-row: 2 / 3;
        color: #ededed;
        width: calc(100% - 70px);
        margin-left: 20px;
        margin-top: 15px;
        font-size: 12px;
    }
    .footer #otros-footer {
        grid-column: 3 / 4;
        grid-row: 2 / 3;
        color: #ededed;
        width: calc(100% - 70px);
        margin-left: 20px;
        margin-top: 15px;
        font-size: 12px;
    }
    .footer #contacto-footer {
        grid-column: 4 / 5;
        grid-row: 2 / 3;
        grid-template-rows: repeat(3, 20px);
        justify-content: left;
        align-items: calc(100% - 50px);
        margin-left: 20px;
        margin-top: 15px;
        font-size: 12px;
    }
    .footer #contacto-footer #dir-footer {
            font-size: 10px;
            grid-row: 1 / 2;
            padding-top: 5px;
        }
        .footer #contacto-footer #tel-footer {
            font-size: 10px;
            grid-row: 2 / 3;
            padding: 5px 0px;
        }
        .footer #contacto-footer #mail-footer {
            font-size: 10px;
            grid-row: 3 / 4;
        }    
}




@media (max-width: 393px){
    .logo img{
        width: 180px;
    }
    .container .slider {
        margin-top: 90px;
        font-size: 15px;
        height: 80px;
    }
    .container .otros {
        display: grid;
        grid-column: 1 / 4;
        width: 100%;
        height: 105%;
        align-items: center;
        justify-items: center;
        grid-template-columns: repeat(1, auto);
        margin-top: 5px;
        margin-bottom: 20px;
        /*background: red;*/
        gap: 10px;
    }
        .container .otros p {
            
            width: 70%;
            height: 100%;
            
            /*box-shadow: 2px 2px 5px black;*/

            background-color: #272525;
            border-radius: 6px;
            transition: all 0.25s;
            
        }   
        .otros p:hover {
            transform: translateY(-10px);
            box-shadow: 0px 12px 16px rgba(0, 0, 0, 0.8);
        }
        .otros img {
            margin-top: 10px;
            width: 55vw;
            box-shadow: 5px 8px 6px rgba(0, 0, 0, 0.5);
        }    
        .pieimg {
            display: block;
            color: #ededed;
            margin-top: 5px;
            font-size: 4vw;
            font-weight: 500;
            text-align: left;
        } 
        .subt {
            display: block;
            color: #f5c802;
            font-size: 2.5vw;
            font-weight: 300;
            text-align: left;
            margin-bottom: 5px;
        }
        .text {
            position: relative;
            width: 90%;
            margin:0 auto;
            /*background: #1df1f8;*/
            text-align: center;
        }
            .text span {
                font-size: 3.5vw;
                text-align: center;
            }
        .section {
            display: table;
            margin-top: 10px;
        }
        .footer {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            
            background: black;
            width: 100%;
            height: 100%;
            color: #ededed;
        }
        .footer #titulo {
            grid-column: 1 / 5;
            grid-row: 1 / 2;
            color: red;
            width: calc(100% - 70px);
            font-size: 14px;
            font-weight: 600;
            height: 60px;
        }
            .footer #titulo #text-not{
                grid-column: 1 / 5;
                grid-row: 2 / 3;
                color: #ededed;
                font-size: 11px;
                font-weight: 200;
            }
            .footer #input-suscrib {
            display: grid;
            grid-column: 1 / 4;
            grid-row: 2 / 3;
            width: 100%;
            align-items: center;
            justify-items: center;
        }
            .footer #input-suscrib input {
                display: grid;
                align-items: center;
                justify-items: center;
                width: 90%;
                height: 20px;
            }
            .footer #btn-suscrib{
            display: grid;
            grid-column: 4 / 5;
            grid-row: 2 / 3;
            width: 100%;
            align-items: center;
            border-radius: none;
            color: white;
        }
                    .footer #btn-suscrib button {
                        height: 26px;
                        width: 80%;
                        font-size: 10px;
                    }
            .footer #logo-footer {
            display: grid;
            grid-column: 1 / 5;
            grid-row: 4 / 5;
            color: #ededed;
            width: 100%;
            font-size: 40px;
            font-weight: 600;
            text-align: center;
        }
        .footer #logo-footer img{
                width: 70vw;
            }
            .footer #info-footer {
            grid-column: 1 / 2;
            grid-row: 3 / 4;
            color: #ededed;
            width: calc(100% - 70px);
            font-size: 12px;
        }
        .footer #otros-footer {
            grid-column: 2 / 3;
            grid-row: 3 / 4;
            color: #ededed;
            width: calc(100% - 70px);
            font-size: 12px;
        }
        .footer #contacto-footer {
            grid-column: 3 / 5;
            grid-row: 3 / 4;
            grid-template-rows: repeat(3, 20px);
            justify-content: left;
            align-items: calc(100% - 50px);
            font-size: 12px;
        }
        .footer #contacto-footer #dir-footer {
                font-size: 10px;
                grid-row: 1 / 2;
            }
            .footer #contacto-footer #tel-footer {
                font-size: 10px;
                grid-row: 2 / 3;
            }
            .footer #contacto-footer #mail-footer {
                font-size: 10px;
                grid-row: 3 / 4;
            }    
}
}
